# ===== Android Studio / Gradle =====
.gradle/
build/
*/build/
captures/
.externalNativeBuild/
.cxx/
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
*.keystore
*.jks

# ===== IDE (IntelliJ / Android Studio) =====
.idea/
*.iml
out/

# ===== Logs y temporales =====
*.log
*.tmp

# ===== Sistema operativo =====
.DS_Store
Thumbs.db
desktop.ini

# ===== Documentos de clase (no se suben) =====
*.docx
*.doc
*.odt
*.pdf
*.pptx
*.xlsx
.~lock.*
~$*
